In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
import joblib
from sklearn.neighbors import NearestNeighbors

In [3]:
loaded_km = joblib.load('../raw_data/knn_model.joblib')

In [8]:
loaded_km.predict()

TypeError: _BaseKMeans.predict() missing 1 required positional argument: 'X'

In [5]:
test = pd.read_csv("../raw_data/centerback.csv")

In [11]:
test.dtypes

club                      object
shooting                 float64
dribbling_control        float64
passing_vision           float64
tackling_interception    float64
aerial_defense           float64
speed_agility            float64
strength_stamina         float64
decision_making          float64
work_ethic_effort        float64
leadership               float64
teamwork                 float64
goalkeeping_abilities    float64
behavioral_attributes    float64
player_traits            float64
club_rating              float64
dtype: object

In [49]:
df1 = test[test['club'] == 'Club Brugge']
df2 = test[test['club'] == 'Man City']

In [50]:
df1

,club,shooting,dribbling_control,passing_vision,tackling_interception,aerial_defense,speed_agility,strength_stamina,decision_making,work_ethic_effort,leadership,teamwork,goalkeeping_abilities,behavioral_attributes,player_traits,club_rating
1592,Club Brugge,8.333333,11.083333,10.166667,14.25,9.0,11.555556,14.333333,12.833333,13.888889,7.0,14.666667,2.285714,8.166667,1.333333,1657.0

In [51]:
df2

,club,shooting,dribbling_control,passing_vision,tackling_interception,aerial_defense,speed_agility,strength_stamina,decision_making,work_ethic_effort,leadership,teamwork,goalkeeping_abilities,behavioral_attributes,player_traits,club_rating
0,Man City,7.75,12.416667,10.444444,15.416667,10.222222,13.444444,14.555556,15.0,15.555556,8.333333,15.0,2.380952,8.833333,1.666667,2013.0

In [53]:
df1.subtract(df2)

,club,shooting,dribbling_control,passing_vision,tackling_interception,aerial_defense,speed_agility,strength_stamina,decision_making,work_ethic_effort,leadership,teamwork,goalkeeping_abilities,behavioral_attributes,player_traits,club_rating
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1592,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
df1.drop(columns=['club'], inplace=True)
df2.drop(columns=['club'], inplace=True)

/var/folders/pv/hj9fs4fx3fn0k6t5l6qmlh6m0000gn/T/ipykernel_27905/315278982.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop(columns=['club'], inplace=True)
/var/folders/pv/hj9fs4fx3fn0k6t5l6qmlh6m0000gn/T/ipykernel_27905/315278982.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop(columns=['club'], inplace=True)

In [57]:
subtracted_df = df2.sub(df1, fill_value=0)

In [58]:
subtracted_df

,shooting,dribbling_control,passing_vision,tackling_interception,aerial_defense,speed_agility,strength_stamina,decision_making,work_ethic_effort,leadership,teamwork,goalkeeping_abilities,behavioral_attributes,player_traits,club_rating
0,7.750000,12.416667,10.444444,15.416667,10.222222,13.444444,14.555556,15.000000,15.555556,8.333333,15.000000,2.380952,8.833333,1.666667,2013.0
1592,-8.333333,-11.083333,-10.166667,-14.250000,-9.000000,-11.555556,-14.333333,-12.833333,-13.888889,-7.000000,-14.666667,-2.285714,-8.166667,-1.333333,-1657.0

In [59]:
row_sums = subtracted_df.sum(axis=0)

In [60]:
pd.DataFrame(row_sums).T

,shooting,dribbling_control,passing_vision,tackling_interception,aerial_defense,speed_agility,strength_stamina,decision_making,work_ethic_effort,leadership,teamwork,goalkeeping_abilities,behavioral_attributes,player_traits,club_rating
0,-0.583333,1.333333,0.277778,1.166667,1.222222,1.888889,0.222222,2.166667,1.666667,1.333333,0.333333,0.095238,0.666667,0.333333,356.0